<div class="container">
  <h1 class="text-center" style="color: white;">The movie database</h1>
  <!-- Search -->
  <div class="search-bar d-flex mx-auto">
    <input [(ngModel)]="term" class="mr-lg-5 px-5 py-3 mr-0 w-100" type="text"
      placeholder="Search Movie, Overview, Release , ...">
    <fa-icon class="search-icon d-flex align-items-center" [icon]="faSearch"></fa-icon>
  </div>

  <div class="row my-5">
    <!-- Movie -->
    <div class="col-xl-3 col-lg-4 col-md-6 mt-4" *ngFor="let movie of movieArray |filter:term">
      <div class=" card">
        <div class="card-img">
          <img src="http://image.tmdb.org/t/p/w1280/{{ movie.poster_path }}" class="card-img-top">
          <div class="card-detail p-2">
            <p>
              <fa-icon class="px-2" style="color: rgb(184, 179, 250);" [icon]="faCalendarDay"></fa-icon>Release : {{
              movie.release_date }}
            </p>
            <p>
              <fa-icon class="px-1" style="color:rgb(241, 241, 204);" [icon]="faStar"></fa-icon>vote({{
              movie.vote_average }})
            </p>
            <p>
              <fa-icon class="px-2" style="color:rgb(255, 200, 217) ;" [icon]="faFile"></fa-icon>{{ movie.overview }}
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ movie.original_title }}</h5>
          <a *ngIf="!check(movie.original_title)" (click)="openModal(editPrice)" class="btn btn-success w-100 mt-3">
            <fa-icon class="p-1" [icon]="faCartPlus"></fa-icon> Add to your cart
          </a>
          <a *ngIf="check(movie.original_title)" (click)="removeCart( movie.original_title, false)"
            class="btn btn-danger w-100 mt-3">
            <fa-icon class="p-1" [icon]="faMinusCircle"></fa-icon> Remove from your cart
          </a>
        </div>
      </div>

      <!-- Modal OpenEditPrice-->
      <ng-template #editPrice let-modal>
        <img src="http://image.tmdb.org/t/p/w1280/{{ movie.backdrop_path }}" class="card-img-top">
        <div class="modal-header p-0">
          <h4 class="modal-title p-3" id="modal-basic-title">{{ movie.original_title }}</h4>
          <button type="button" class="close p-3" (click)="modal.dismiss('Cross click')">
            <fa-icon class="p-1" [icon]="faTimes"></fa-icon>
          </button>

        </div>
        <div class="modal-body px-lg-5 px-2 py-5">
          <form>
            <div class="form-group text-center">
              <label class="p-2" for="moviePrice">Enter price for this movie :</label>
              <input class="p-2" type="number" #moviePrice placeholder="Price (Bath.)">

            </div>
            <button (click)="addPrice(movie.original_title, moviePrice)"
              class="confirm-btn d-block mx-auto py-2 px-3 mt-4">CONFIRM !</button>
          </form>
        </div>
      </ng-template>

    </div>
  </div>

  <!-- Cart -->
  <button (click)="openModal(showCart)" class="cart-btn shadow position-fixed m-5">
    <p class="mb-0 p-1">{{movieInCart.length}}</p>
    <fa-icon class="p-1" [icon]="faShoppingCart"></fa-icon>
  </button>
</div>

<notifier-container></notifier-container>


<!-- Modal OpenShowCart -->
<ng-template #showCart let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Your Cart</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <fa-icon class="p-1" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <!-- alert -->
    <div style="color: white; background-color: #d73038;" *ngIf="movieInCart === undefined || movieInCart.length == 0"
      class="alert">
      Please select the product before payment.
    </div>
    <div *ngFor="let i of movieInCart;">
      <div class="d-flex justify-content-between">
        <p class="w-100">{{ i }}</p>
        <p>{{ showPrice(i) }}</p>
        <fa-icon class="px-1" style="color: red; cursor: pointer;" (click)="removeCart(i, false)"
          [icon]="faMinusCircle">
        </fa-icon>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <p>Total</p>
      <p>{{ totalPrice() }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Discount :</p>
      <p>- {{ discountPrice()}}</p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p>All Total</p>
      <p>{{ totalPrice()-discountPrice() }}</p>
    </div>

    <div class="d-flex justify-content-between">
      <button (click)="removeCart('', true)" class="btn btn-danger mx-2 py-2 px-3 mt-4">Remove All</button>
      <button (click)="openModal(payNow)" class="confirm-btn mx-2 py-2 px-3 mt-4 w-100">Pay Now !</button>
    </div>
  </div>
</ng-template>


<!-- Modal Pay Now -->
<ng-template #payNow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please transfer money</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <fa-icon class="p-1" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body text-center">
    <countdown #countdown [config]="{leftTime: 60, format: 'm:s'}" (event)="onTimerFinished($event)"></countdown>
    <br>
    <img class="p-1 my-2" style="background-color: white; border-radius: 8px;" src="../assets/qrcode_github.com.png">

  </div>
</ng-template>